* {
	margin: 0;
	padding: 0;
}
 

body {
	background: #fff url(../images/b-body.gif);
	color: #292828;
	min-height: 100%;
	min-width: 795px;
	position: relative;
	font-family: Helvetica;
	font-size: 13px;
	line-height: 18px;
}
 

ul {
	list-style: none;
}
a {
	color: #333333;
	text-decoration: none;
 }
a:hover {
	text-decoration: none;
}
img {
	border: none;
}
p {
	margin: 1em 0;
}

 #container {
	width: 800px;
	position: relative;
	height: 600px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
 #top {
	background-image: url(../images/toolbar.png);
	background-repeat: repeat-x;
	height: 42px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #7389A6;
	border-bottom-color: #000000;
	position: relative;
}
#top #tab {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 42px;
	padding-left: 5px;
	float: left;
	height: 42px;
	width: 60px;
}
#top .tab_name {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	line-height: 42px;
	display: block;
	padding-left: 2px;
	float: left;
	height: 42px;
	width: 120px;
}
#Menu {
	height: 558px;
	position: relative;
	width: 800px;
	clear: both;
}
#Menu #Menu_o {
	width: 250px;
	height: 480px;
	float: left;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #6F86A3;
}
.MM {
	display: block;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #6F86A3;
	height: 62px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 15px;
	padding-top: 6px;
}
#Menu_o #M_1_ind {
	position: absolute;
	height: 68px;
	width: 250px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}

#Menu_o #M_2_ind {
	position: absolute;
	height: 68px;
	width: 250px;
	left: 0px;
	top: 67px;
	overflow: hidden;
}
#Menu_o #M_3_ind {
	position: absolute;
	height: 68px;
	width: 250px;
	left: 0px;
	top: 138px;
	overflow: hidden;
}
#Menu_o #M_4_ind {
	position: absolute;
	height: 68px;
	width: 250px;
	left: 0px;
	top: 207px;
	overflow: hidden;
}
#Menu_o #M_5_ind {
	position: absolute;
	height: 68px;
	width: 250px;
	left: 0px;
	top: 276px;
	overflow: hidden;
}
#Menu_o #M_6_ind {
	position: absolute;
	height: 68px;
	width: 250px;
	left: 0px;
	top: 345px;
	overflow: hidden;
}
#Menu_o #M_7_ind {
	position: absolute;
	height: 68px;
	width: 250px;
	left: 0px;
	top: 412px;
	overflow: hidden;
}


.ma   {
	display: block;
	height: 83px;
}
.m_2_1 {
	float: left;
	width: 70px;
}




.ind_1   {
	height: 30px;
	width: 69px;
	margin-top: 5px;
	border: 1px solid #6F86A3;
	font-size: 18px;
	line-height: 30px;
}



.ind_4   {
	height: 30px;
	width: 69px;
	margin-top: 5px;
	border: 1px solid #6F86A3;
	font-size: 18px;
	line-height: 30px;
}







.ind   {
	height: 30px;
	width: 210px;
	margin-top: 5px;
	border: 1px solid #6F86A3;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}


#Menu #Menu_window {
	float: left;
	height: 480px;
	width: 549px;
}
#Menu_window #inni3 {
	height: 480px;
	width: 500px;
	margin-left: 30px;
	overflow: hidden;
}
#Menu_window #inni3 li {
	float: left;
	height: 50px;
	width: 148px;
	text-align: center;
	display: block;
	font-size: 18px;
	line-height: 50px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F1F3F5;
	border: 1px solid #6F86A3;
}
#Menu_window #inni3 li a {
	display: block;
	height: 50px;
	width: 148px;
	
}
#Menu_window #inni4 {
	width: 500px;
	margin-left: 30px;
	overflow: hidden;
}
#Menu_window #inni4 p {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
	margin-left: 0px;
	clear: both;
}

#Menu_window #inni4 li {
	float: left;
	height: 50px;
	width: 85px;
	text-align: center;
	display: block;
	font-size: 18px;
	line-height: 50px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F1F3F5;
	border: 1px solid #6F86A3;
}
#Menu_window #inni4 li a {
	display: block;
	height: 50px;
	width: 85px;
}
#inni4 .pps {
	text-align: center;
	display: block;
	position: absolute;
	font-size: 22px;
	font-weight: bold;
}
.pps #K1 {
	float: left;
	display: block;
	height: 30px;
	width: 70px;
	line-height: 30px;
}
.pps #K2 {
	float: left;
	height: 30px;
	width: 150px;
}
.pps #K3 {
	float: left;
	height: 30px;
	width: 60px;
	margin-left: 10px;
}

#inni4 .pps_in {
	height: 30px;
	width: 154px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	top: 0px;
}
#KKSdd {
	height: 30px;
	width: 60px;
	font-size: 18px;
	font-weight: bold;
}

#inni4 .pps #pps_nn {
	position: absolute;
	top: 0px;
	left: 70px;
}

#kep    {
	position: absolute;
	height: 240px;
	width: 240px;
	background-color: #999999;
	top: 20px;
	left: 389px;
}
#kep  .kpp {
	height: 48px;
	width: 80px;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
}
.kpp_in {
	width: 154px;
	height: 41px;
	margin: 1px;
	font-size: 24px;
	font-weight: bold;
	line-height: 45px;
}
#kep #n_in {
	position: absolute;
	height: 41px;
	width: 154px;
	left: 1px;
	top: 1px;
}

#kep li {
	float: left;
}
.kppdd {
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	width: 76px;
	height: 40px;
	position: absolute;
	right: 1px;
	top: 1px;
}





#Operation {
	clear: both;
	height: 74px;
	width: 800px;
	position: relative;
}
.op {
	float: left;
	margin-right: 15px;
}
#O_4 {
	position: absolute;
	bottom: 0px;
	height: 66px;
	width: 178px;
	left: 250px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8FA1B8;
	border-right-color: #788DA9;
	border-bottom-color: #375073;
	border-left-color: #375073;
}
#O_4 a {
	font-size: 22px;
	font-weight: bold;
	line-height: 66px;
	text-align: center;
	display: block;
	height: 66px;
	width: 178px;
}

#O_7 {
	position: absolute;
	bottom: 0px;
	right: 169px;
	height: 66px;
	width: 178px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8FA1B8;
	border-right-color: #788DA9;
	border-bottom-color: #375073;
	border-left-color: #375073;
}
#O_7  a {
	font-size: 22px;
	font-weight: bold;
	line-height: 66px;
	text-align: center;
	display: block;
	height: 66px;
	width: 178px;
}
#O_8 {
	position: absolute;
	bottom: 0px;
	right: 1px;
	height: 66px;
	width: 178px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8FA1B8;
	border-right-color: #788DA9;
	border-bottom-color: #375073;
	border-left-color: #375073;
}
#O_8  a {
	font-size: 22px;
	font-weight: bold;
	line-height: 66px;
	text-align: center;
	display: block;
	height: 66px;
	width: 178px;
}
#oder_idno {
	width: 250px;
	height: 67px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.idno {
	text-align: center;
	display: block;
	float: left;
	width: 47px;
	height: 30px;
	margin-top: 3px;
	margin-right: 3px;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	background-image: url(../images/top_15.gif);
	background-repeat: repeat-x;
	background-position: center;
	color: #FFFFFF;
}
.idno a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 30px;
	width: 47px;
}

.idno_1 a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	height: 30px;
	width: 47px;
}



.idno_1 {
	text-align: center;
	display: block;
	float: left;
	width: 47px;
	height: 30px;
	margin-top: 3px;
	margin-right: 3px;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	background-image: url(../images/top_16.gif);
	background-repeat: repeat-x;
	background-position: center;
	color: #FFFFFF;
}
#loading {
	height: 50px;
	width: 300px;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	display: block;
}
#st {
	font-size: 18px;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	margin-top: 100px;
	text-align: center;
	display: block;
}
#list {
	height: 546px;
	width: 795px;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(../images/b-body.gif);
}
.tabe_1 {
	font-size: 16px;
}
.tr_1 {
	background-color: #D8DEE7;
}
.td_1 {
	padding: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8DEE7;
}
.td_2 {
	text-align: right;
	display: block;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	padding: 10px;
}
#back {
	height: 40px;
	width: 140px;
	position: absolute;
	left: 200px;
	bottom: 100px;
}
#save {
	height: 40px;
	width: 140px;
	position: absolute;
	right: 200px;
	bottom: 100px;
}
.tabe_2 {
	font-size: 18px;
	font-weight: bold;
}
.tr_2 {
	background-color: #D8DEE7;
	height: 34px;
}
.td_12 {
	padding: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8DEE7;
	height: 40px;
	line-height: 40px;
}
.td_12s   a {
	text-align: center;
	display: block;
	height: 40px;
	width: 100px;
	background-image: url(../images/top_15.gif);
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
}
.td_12s {
	padding: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D8DEE7;
	height: 40px;
	line-height: 40px;
	width: 100px;
}
.td_12_d {
	height: 40px;
	line-height: 40px;
	background-image: url(../images/dd.png);
	background-repeat: repeat-x;
}
#out {
	height: 546px;
	width: 800px;
 	overflow-x:hidden;overflow-y:auto;
	position: relative;
 }
.as {
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	text-align: center;
	display: block;
	height: 40px;
	width: 80px;
	color: #333333;
	border: 1px solid #666666;
}
.tabe_2 li {
	height: 40px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #798EA9;
	display: block;
	padding-right: 3px;
	padding-left: 3px;
	font-size: 18px;
	font-weight: bold;
}
.tabe_2 .ddds {
	height: 40px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #798EA9;
	display: block;
	padding-right: 3px;
	padding-left: 3px;
	font-size: 18px;
	font-weight: bold;
	background-image: url(../images/dd.png);
	background-repeat: no-repeat;
}


.c1 {
	float: left;
	width: 80px;
	text-align: center;
	display: block;
	height: 40px;
	line-height: 40px;
}
.c2 {
	line-height: 40px;
	text-align: center;
	display: block;
	height: 40px;
	width: 40px;
	float: left;
}
.c3 {
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	margin-right: 5px;
	margin-left: 5px;
}
.c4 {
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #FFCC00;
	width: 40px;
}
#outok  {
	position: absolute;
	height: 100px;
	width: 305px;
	top: 180px;
	left: 280px;
	background-color: #EBEBEB;
}
#outok #ou_y {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	display: block;
	height: 100px;
	width: 150px;
	line-height: 100px;
	float: left;
	border: 1px solid #333333;
	margin-right: 1px;
}
#outok #ou_y a {
	display: block;
	height: 100px;
	width: 150px;
}
#outok #ou_o {
	font-size: 30px;
	line-height: 100px;
	font-weight: bold;
	text-align: center;
	display: block;
	float: left;
	height: 100px;
	width: 150px;
	border: 1px solid #333333;
}
#outok  #ou_o  a {
	display: block;
	height: 100px;
	width: 150px;
}
.p_td {
	height: 35px;
	font-size: 15px;
	line-height: 35px;
	font-weight: bold;
}
.text-11 {
	background-color: #EAECEE;
}


#backButton {
	display: block;
	left: 6px;
	right: auto;
	padding: 0;
	max-width: 55px;
	border-width: 0 8px 0 14px;
	background-image: url(../images/backButtonBack.png);
	height: 42px;
	width: 12px;
	background-repeat: repeat-x;
	background-position: 4px;
}
.t_bs  {
	background-image: url(../images/backButtonBrdr.png);
	background-repeat: no-repeat;
	background-position: 4px;
	height: 42px;
	width: 16px;
	display: block;
	float: left;
}
.t_bok {
	height: 42px;
	display: block;
	float: left;
	background-image: url(../images/backButtonBack.png);
	background-repeat: repeat-x;
	background-position: 4px;
	font-size: 15px;
	line-height: 42px;
	font-weight: bold;
	color: #FFFFFF;
}
.t_bd {
	background-image: url(../images/backButtonBrdr.png);
	background-repeat: no-repeat;
	background-position: right;
	display: block;
	height: 42px;
	width: 6px;
	float: left;
}
.t_bok a {
	color: #FFFFFF;
	display: block;
	height: 42px;
	padding-right: 1px;
	padding-left: 1px;
}
#back_top {
	position: absolute;
	width: 70px;
	left: 2px;
	top: 0px;
}
#next_top {
	position: absolute;
	width: 70px;
	top: 0px;
	right: 0px;
}
.t_bsa {
	background-image: url(../images/backButtonBrdr.png);
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 42px;
	width: 20px;
}
.t_bs1  {
	background-image: url(../images/backButtonBrdr_rotation.png);
	background-repeat: no-repeat;
	height: 42px;
	width: 6px;
	display: block;
	float: left;
	background-position: 0px;
}
.t_bd1 {
	background-image: url(../images/backButtonBrdr_rotation.png);
	background-repeat: no-repeat;
	background-position: right;
	display: block;
	height: 42px;
	width: 13px;
	float: left;
}
#d_ssd {
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	display: block;
	width: 750px;
	margin-right: auto;
	margin-left: auto;
	height: 40px;
	line-height: 40px;
}
#d_ssd select {
}
.ddsl12 {
	height: 38px;
	font-size: 16px;
	font-weight: bold;
	padding-right: 3px;
	padding-left: 3px;
}
#out_p {
	height: 496px;
	width: 800px;
	overflow-x:hidden;
	overflow-y:auto;
	position: relative;
 }
#e1 {
	position: absolute;
	top: 100px;
	right: 400px;
	height: 80px;
	width: 80px;
	text-align: center;
	display: block;
	line-height: 80px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8FA1B8;
	border-right-color: #788DA9;
	border-bottom-color: #375073;
	border-left-color: #375073;
}
#e1    a {
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	display: block;
	height: 80px;
	width: 80px;
	line-height: 75px;
}

#e2 {
	text-align: center;
	display: block;
	height: 80px;
	width: 80px;
	top: 100px;
	right: 260px;
	position: absolute;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8FA1B8;
	border-right-color: #788DA9;
	border-bottom-color: #375073;
	border-left-color: #375073;
}
#e2  a {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	display: block;
	height: 80px;
	width: 80px;
	line-height: 75px;
}
#e3 {
	text-align: center;
	display: block;
	height: 80px;
	width: 80px;
	top: 100px;
	right: 120px;
	position: absolute;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8FA1B8;
	border-right-color: #788DA9;
	border-bottom-color: #375073;
	border-left-color: #375073;
}
#e3   a {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	display: block;
	height: 80px;
	width: 80px;
	line-height: 75px;
}


#e4 {
	text-align: center;
	display: block;
	height: 80px;
	width: 80px;
	top: 100px;
	right: 350px;
	position: absolute;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8FA1B8;
	border-right-color: #788DA9;
	border-bottom-color: #375073;
	border-left-color: #375073;
}
#e4   a {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	display: block;
	height: 80px;
	width: 80px;
	line-height: 75px;
}


#e5 {
	text-align: center;
	display: block;
	height: 80px;
	width: 80px;
	top: 100px;
	right: 120px;
	position: absolute;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8FA1B8;
	border-right-color: #788DA9;
	border-bottom-color: #375073;
	border-left-color: #375073;
}
#e5   a {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	display: block;
	height: 80px;
	width: 80px;
	line-height: 75px;
}
.save {
	background-image: url(../images/save.png);
	height: 40px;
	width: 140px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FFFFFF;
}
.back {
	background-image: url(../images/back.png);
	height: 40px;
	width: 140px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#ipos {
	float: left;
	font-size: 16px;
	line-height: 42px;
	color: #000000;
	font-weight: bold;
	margin-right: 15px;
	margin-left: 3px;
}
#summ {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	display: block;
	width: 800px;
	margin-top: 10px;
}