<%@ Page Language="C#" ContentType="text/html" ResponseEncoding="gb2312" %>
<%@ Import Namespace="System.Data" %>
<%
	Response.CacheControl = "no-cache";
	Response.AddHeader("Pragma","no-cache");
	
	string back = "";
	back += "<p>你認為中國足球的前景如何？</p><p>&nbsp;</p>";
	back += "<p>一片光明: 5%</p><p>困難重重: 61%</p><p>前途未卜: 34%</p>";
	Response.Write(back);
%>