<%@ Page Language="C#" ContentType="text/xml" ResponseEncoding="gb2312" %>
<%@ Import Namespace="System.Data" %>
<%
	Response.ContentType = "text/xml";
	Response.CacheControl = "no-cache";
	Response.AddHeader("Pragma","no-cache");
	
	string xml = "<p id='kk'>p標記<span>內套span標記</span></p><span>單獨的span標記</span>";
	Response.Write(xml);
%>