@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background-color: #1D3647;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
	line-height:0;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}

/*------------top---------------------*/
#topmain{
	width:100%;
	background-image: url(img/login-top-bg.gif);
	background-repeat: repeat-x;
	height:41px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}


/*----------------body--------------------*/
#login_bg {
	background-image: url(img/login_bg.jpg);
	background-repeat: repeat-x;
	height: 532px;
	width: 100%;
}
.left {
	background-image: url(img/login-content-bg.gif);
	background-repeat: no-repeat;
	background-position: right;
	height: 532px;
	width: 49%;
	float: left;
}
.login_txt_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 25px;
	color: #666666;
	font-weight: bold;
	padding-bottom: 10px;
}

/*----------------buttom--------------------*/
#login-buttom-bg {
	background-image: url(img/login-buttom-bg.gif);
	background-repeat: repeat-x;
	height: 20px;
	width: 100%;
	text-align: center;
}
.left_1 {
	width: 51%;
	height: 532px;
	float: right;
}
.comn {
	width: 300px;
	margin-top: 155px;
	float: right;
	margin-right: 58px;
}
.welcome {
	position: absolute;
	top: 435px;
	right: 10px;
}
.logintxt {
	font-size: 12px;
	color: #333333;
	line-height: 20px;
	margin: 5px;
	background-image: url(img/star.gif);
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-left: 20px;
}
.blogin {
	font-weight: bold;
	color: #347381;
}

.login {
	float: left;
	width: 300px;
	margin-top: 195px;
	margin-left: 80px;
}

.login-buttom-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ABCAD3;
	text-decoration: none;
	line-height: 20px;
	margin-right: auto;
	margin-left: auto;
}
.contacttext {
	font-size: 12px;
	line-height: 40px;
	width: 60px;
}
.inp {
	width: 120px;
	margin-left: 10px;
	height: 18px;
}
.inpcode {
	width: 70px;
	margin-left: 10px;
	height: 18px;
}
.contactformfield {
	float: left;
}
.code {
	margin-left: 10px;
}
#admin_topbg {
	background-image: url(img/top-right.gif);
	background-repeat: repeat-x;
	height: 64px;
}
#admin_topbg .top1 {
	float: left;
	height: 64px;
	width: 300px;
	color: #FFFFFF;
}
#admin_topbg .top1 .logotex {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 37px;
}
#admin_topbg .top1 .url {
	font-size: 11px;
	color: #333333;
	padding-left: 15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 18px;
	font-weight: bold;
}


#admin_topbg .top2 {
	font-size: 12px;
	color: #FFFFFF;
	float: right;
	height: 64px;
	width: 650px;
	text-align: right;
}
#admin_topbg .top2 .top3 {
	margin-top: 10px;
	float: left;
}
#admin_topbg .top2 .top4 {
	float: right;
	width: 60px;
	margin-right: 30px;
	margin-top: 8px;
}
.input_bot{
	/*
	height: 23px;
	width: 100px;
	margin-right: 5px;
	background-image: url(img/submitbg.gif);
	background-repeat: no-repeat;
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	*/
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	background-image: url(img/submitbg.gif);
	height: 21px;
	width: 100px;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: center center;
	float: left;
	border: 1px solid #A3AA90;
	margin: 0px;
	padding: 0px;	
	
}

.input_bot_up{
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	background-image: url(img/submitbg.gif);
	height: 21px;
	width: 70px;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: center center;
	float: none;
	border: 1px solid #A3AA90;
	margin: 0px;
	padding: 0px;
	
}
.input_bot_save{
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	background-image: url(img/submitbg.gif);
	height: 21px;
	width: 70px;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: center center;
	border: 1px solid #A3AA90;
	padding: 0px;
	margin: 0px;
	
}


.input_sr{
	font-family: Verdana;
	font-size: 11px;
	height: 21px;
	width: 300px;
	border: 1px solid #A3AA90;
	padding: 0px;
	margin: 0px;
}

.input_sr_msg{
	font-family: Verdana;
	font-size: 11px;
	height: 100px;
	width: 300px;
	border: 1px solid #A3AA90;
	padding: 0px;
	margin: 0px;
	
}

.input_sr_s{
	font-family: Verdana;
	font-size: 11px;
	border: 1px solid #A3AA90;
	padding: 0px;
	margin: 0px;
	height: 21px;
}


#left_topbg {
	background-image: url(img/content-bg.gif);
	background-repeat: repeat;
	background-position: 0px 0px;
	height: 29px;
	width: 100%;
}
#left_topbg .top_left {
	background-image: url(img/left-top-right.gif);
	width: 17px;
	background-repeat: repeat-y;
	float: left;
	height: 29px;
}
#left_topbg .top_right {
	background-image: url(img/nav-right-bg.gif);
	width: 16px;
	float: right;
	height: 29px;
}
#left_topbg .titlebt {
	background-image: url(img/top_bt.jpg);
	background-repeat: no-repeat;
	height: 25px;
	width: 85px;
	float: left;
	font-size: 13px;
	line-height: 29px;
	text-align: center;
	font-weight: bold;
	padding-top: 4px;
}
#right_body .body_left {
	background-image: url(img/mail_leftbg.gif);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	width: 17px;
}
#right_body .body_main {
	float: left;
	background-color: #F7F8F9;
	width: 100%;
	font-size: 12px;
	height: 100%;
}
#right_body .body_main .body_main_ok {
	padding: 15px;
	height: auto;
	overflow: visible;
	position: relative;
}

#right_body .body_right {
	background-image: url(img/mail_rightbg.gif);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	width: 16px;
}
#buttom {
	background-image: url(img/buttom_bgs.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height: 17px;
	width: 100%;
}
#buttom .buttom_left {
	background-image: url(img/buttom_left2.gif);
	float: left;
	height: 17px;
	width: 17px;
}
#buttom .buttom_right {
	background-image: url(img/buttom_right2.gif);
	float: right;
	height: 17px;
	width: 16px;
}
.contacttext1 {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 130px;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	line-height: 18px;
}



.contacttext2 {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 140px;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	line-height: 18px;
}

.contactformfield {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 70%;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}
.contactMain{
	width:590px;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: auto;
	position: relative;
}
.contactformmessage {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 150px;
	width: 70%;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}
.submitbuttonarea {
	margin: 5px;
	float: left;
	height: 50px;
	width: 300px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 110px;
}
.contacttext1_up {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 50px;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	line-height: 18px;
}
.contactMain_up{
	width:350px;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: auto;
	position: relative;
}
.submitbuttonarea_up {
	margin: 5px;
	float: left;
	height: 50px;
	width: 300px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 60px;
}
.m_delete {
	float: left;
	background-image: url(img/delete.gif);
	background-repeat: no-repeat;
	color: #333333;
	text-decoration: none;
	text-align: center;
	display: block;
	height: 16px;
	width: 16px;
	margin-left: 10px;
}
.m_delete a{

	color: #333333;
	text-decoration: none;

}



.m_edit {
	color: #333333;
	text-decoration: none;
	background-image: url(img/edit.gif);
	background-repeat: no-repeat;
	float: left;
	text-align: center;
	display: block;
	height: 16px;
	width: 16px;
}
.m_edit a{

	color: #333333;
	text-decoration: none;

}
.m_action {
	width: 60px;
}

.text_11 {
	background-color: #F2F5F9;
}
.text_12 {
	background-color: #E1E9F0;
}
.text_13 {
    background-color: #C4D2E2;
}
.Signinareas {
	width: 600px;
	position: relative;
	height: 820px;
}

/*-------------Sign up Form--------------------------------*/
.Signinsidehead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;
}



/*-------------Sign up Form--------------------------------*/
 
.Signinind {
 
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 3px;
	padding: 3px;
 
}
.errortext {
	color: #FF0000;
}
.Signintext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 120px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
.logintext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 80px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
.logintext_q {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 180px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}


.Signinformfield {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 450px;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}
.Signinformfield_code {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 30px;
	width: 450px;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}




.loginformfield {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 250px;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}

.loginformfield_q {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 20px;
	width: 350px;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}


.loginformfield_code {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 35px;
	width: 250px;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}

.textbox {
	font-size: 13px;
	height: 20px;
	width: 300px;
}

.textbox_login {
	font-size: 13px;
	height: 20px;
	width: 150px;
}
.textbox_login_code {
	font-size: 13px;
	height: 20px;
	width: 150px;
	text-transform: uppercase;
}

.submitbtn {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	background-attachment: scroll;
	background-image: url(img/read_more_bg.gif);
	background-repeat: repeat-x;
	background-position: center center;
	height: 20px;
	width: 70px;
	border: 1px solid #CCCCCC;
}
.submitbuttonarea {
	margin: 5px;
	float: left;
	height: 50px;
	width: 300px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 130px;
}
.submitbuttonarea_login {
	margin: 5px;
	float: left;
	height: 40px;
	width: 300px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 90px;
}

.submitbuttonarea_q {
	margin: 5px;
	float: left;
	height: 40px;
	width: 300px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.table_1 {
	height: auto;
	width: 700px;
	position: relative;
	clear: both;
}
.td1 {
	float: left;
	width: 19%;
	background-color: #C5D6FC;
	margin: 1px;
}
.tr1 {
	background-color: #C3D3FD;
}
