<H1>五子棋算法</H1>
<P>
摘要：
<P>
  人工智能是一門正在迅速發展的新興的綜合性很強的邊緣科學。博弈是人工智能的主要研究領域之一，他涉及人工智能中的推理技術、搜索方法和決策規劃。本文將這些技術用於五子棋中。設計了一個智能五子棋系統，實現人和計算機兩方進行博弈。
<P>
緒論
<P>
  在人類文明發展的初期，人們便開始進行棋類博弈的遊戲了。在人工智能領域內，博弈是很重要的一個研究分支，很多實際問題可以在博弈的研究中得到解決，並且使計算機智能更加靠近人類智能。電腦博弈是人工智能研究的一個方向，到了近50年前，隨著電子計算機的誕生，科學家們開始通過電腦模擬人的智能逐步向人類智能發起挑戰，香農(1950)與圖靈(1953)提出了對棋類博弈程序的描述，隨著電腦硬件和軟件的高速發展，從1980開始，電腦博弈便開始逐漸大規模地向人的智能發起了挑戰，到了1997年，IBM超級電腦DeeperBlue擊敗了當時國際象棋世界冠軍卡斯帕羅夫，成為了人工智能挑戰人類智能發展的一個重要旅程碑。
<P>
1.1 電腦五子棋簡介<br />
  五子棋是起源於中國古代的傳統黑白棋種之一。現代五子棋日文稱之為“連珠”，英譯為“Ren-ju”，英文稱之為“Gobang”或“FIR”(FiveinaRow的縮寫)，亦有“連五子”、“五子連”、“串珠”、“五目”、“五目碰”、“五格”等多種稱謂。五子棋不僅能增強思維能力，提高智力，而且變化多端，非常富有趣味性和消遣性，因此為人民群眾所喜聞樂見。本文在研究博弈機器人系統過程中，對五子棋博弈算法進行了一些有效的研究，設計和實現一個人機對弈的五子棋程序。五子棋屬於黑白棋的一種，它的博弈樹複雜度為1070，狀態空間複雜度為10105。因此盤面預測的計算量是非常大的，比如對於五子棋的中盤走法中，如果要預測四步的局面數的話可以達到一百萬。
<P>
1.2 設計思路總介紹<br />
  本文是對五子棋算法的設計原理和實現方法進行探討和研究，主要包括數據結構、搜索算法和優劣評價函數組成，主要的特點包括快速的數據結構設計實現、以及高效率的搜索算法和盡可能的模擬人類的智能。
<P>
1.3 本文架構<br />
  第一章將會闡述計算機博弈發展以及對電腦五子棋的介紹、電腦五子棋的狀態空間复雜度以及文章架構。 第二章首先描述了電腦象棋表示的一些基本數據結構。 第三章將重點講述博弈樹的搜索方法，包括博弈樹構建、各算法介紹、以及五子棋規則的實現，最後對整體搜索框架進行總結。 最後，第四章是全文的總結及展望。
<P>
2 數據結構<br />
<P>
  2.1 棋局的表示<br />
    我們知道五子棋的走法中有優先和禁手，如連四肯定是沒有三四優先，而如果是黑方出現三三（包括“四、三、三”）、四四（包括“四、四、三”），而黑方只能以四三取勝，如果黑方走出禁手則是輸；五連與禁手同時形成，先五為勝，等等的規矩。但是電腦畢竟不是人類，可以類人但是卻不可以自己思考，那麼就需要給電腦一個它可以明白的評判標準。 首先介紹一個五子棋中的常用術語：<br />
<UL><LI> 陽線：棋盤上可見的橫縱直線。
<LI>陰線：棋盤上無實線連接的隱形斜線。<br />
<LI> 活3：由於一方走一著在無子交叉點上形成一個“活三”的局面，也就是在放一子就可行成4連了。<br />
<LI>活4：在棋盤某一條陽線或陰線上有同色4子不間隔地緊緊相連，且在此4子兩端延長線上各有一個無子的交叉點與此4子緊密相連。<br />
<LI>衝四：除"活四"外的，再下一著棋便可形成五連，並且存在五連的可能性的局面。<br />
</UL>
<P>
    如何讓電腦知道該落子在哪一點呢，在這方面。電腦要做得和人一樣，判斷棋盤上每一點的重要度。比如衝四比衝強，衝三比造二強，遇到四三如果是對方的，堵死，如果是自己的，優先落子。遇到雙三，如果是黑棋，黑方輸，如果是白棋，優先等級僅次於四三。我們看到電腦在運算的時候，同種棋型在敵我雙方的優先等級並不相同，由於禁手的緣故黑棋和白棋的處理也不相同。同樣是四三，如果是玩家的，則電腦不會沖自己的，而是先堵玩家的。禁手的處理比較複雜，我們稍候討論。
<P>
    下面，我列出基本的棋型優先順序：<br />
    造一個二<……<造四個二<衝三<……<衝兩個二和一個三<衝雙三<衝四<衝四三。<br />之所以這麼設置是由於五子棋的下法所致，只要構成5顆一線就贏了，所以說一條線上構成的越多那麼就有優勢，當然就是棋數越多，分越多。
<P>
    那麼為了讓電腦明確的知道是不是應該落子，就給它一個標準：分值。用程序語言表示：<BR />
<PRE><i>    enum Value {
         FAILED=-99999,
         SKIP=20,
         LENG=10,
         TWO=100,
         THREE=1000,
         IF0UR=10000,
         FOUR=50000,
         SF0UR=70000,
         WIN=100000
      }; </i></PRE>
<P>
    如果某一點導致失敗，則分值為FAILED，由於它足夠小，所以無論任何棋型與它的組合都小於0，SKIP之所以給它20分，是為了避免電腦出現無棋可下的情況，LENG是有可能發生長連的點，這有可能導致禁手，TWO、THREE、FOUR、WIN觀名知意，TFOUR和SFOUR分別是弱四和強四。強四的點比普通的衝四重要的多，比如一個活四，意味著即將判出勝負。弱四是為了提供更大的靈活。也許有某種衝四並不一定比衝三重要，我在這裡並沒有使用，以後可以擴充。
<P>
3 涉及算法<br />
<P>
  3.1 五子棋搜索樹種的極大極小搜索<br />
    在五子棋乃至所有博弈類游戲的研究中[1-4]，最理想的方法是讓電腦不論在對手走那種棋路的時候都可以根據對手的走法來預測下一步，以至於使電腦立於不敗之地，但是五子棋博弈樹的複雜度為1070，狀態空間的複雜度為10105，因此即使電腦的運算速度已經很快了，又有強有力的啟發式搜索技術，但是要完成如此復雜的搜索也是不可取的。這種情況下搜索深度可根據實際情況進行調整，從局部搜索樹中選取一步最好的走步，等對方走步後再尋找下一步好棋，通過結果來判斷以後的走法。我們可以通過極大極小搜索方法來實現這種搜索策略。
<P>
    為了使談論更有條理性[5]，將博弈的雙方分別命名為MAX和MIN。而搜索的任務是為MAX找最佳的移動。假設MAX先移動(此時暫時不考慮五子棋的禁手等規則)，然後2個博弈者輪流移動。因此，深度為偶數的節點，對應於MAX下一步移動的位置，稱為MAX節點；深度為奇數的節點對應於MIN下一步移動的位置，稱為MIN節點(博弈樹的頂節點深度為0)。k層包括深度為2k和2k+1的節點。通常用層數表示博弈樹的搜索深度。他可以表示出向前預測的MAX和MIN交替運動的回合數。對於復雜的博弈，博弈者必須認識到由於博弈樹的複雜程度所以搜索到終點是不可能的(除了在博弈快結束時)。所以，常採用在有限範圍搜索方法，這裡使用啟發式搜索。在啟發式搜索的過程中，關鍵的一步是如何確定下一個要考察的節點，在確定節點時只要能充分利用與問題有關的信息，估計出節點的重要性，就能在搜索時選擇重要性較高的節點，以利於博弈者以較快的速度求出最佳的棋步。
<P>
    在這裡我採用靜態評估函數[6-13]，用評估函數h(i)衡量每一個葉節點位置的“值”。一個最佳首步可以由一個最小最大化過程產生。假設輪到MAX從搜索樹的葉節點中選取，他肯定選擇擁有最大值的節點。因此，MIN葉節點的一個MAX節點雙親的倒推值就等於葉節點的靜態評估值中的最大值。另一方面，MIN從葉節點中選取時，必然選取最小的節點(即最負的值)。既然如此，MAX葉節點的MIN雙親節點被分配一個倒推值，他等於葉節點靜態評估值的最小值。在所有葉節點的父節點被賦予倒推值後，開始倒推另一層，假定MAX將選擇有最大倒推值的MIN的後繼節點，而MIN會選擇有最小倒推值的MAX後繼節點。繼續逐層對節點評估，直到最後開始節點的後繼者被賦予倒推值。MAX將選擇有最大倒推值的節點作為他的首步。整個過程的有效性基於這樣的假設。用整個棋盤估值的函數h(n)為靜態估值函數。設想當前棋局S為輪到計算機方下棋(用方框表示)，任選一空點作為計算機方的下棋位置(可有若干種選擇)，接著考慮在此情況下游戲者一方下棋的棋局(用圓圈表示)；從某一個圓圈棋局出發，任選一空點作為遊戲者一方的落子處(又有若干種選擇)。再次形成計算機方下棋的方框棋局；依此類推，這樣可形成一棵以S為根結點的博弈樹，該樹以圓圈棋局為第2層子結點，以方框棋局為第3層子結點等等。如果繼續向前搜索，可形成多層子結點，現在以向前搜索3層子結點為例來說明極大極小值的過程。對第3層子結點的某一棋局n，求出其估計值h(n)，假設有一博弈樹已形成，如圖1所示[2]，h(n) 的值由各結點旁的數值給出。
<P>
   <img src="5chess-01.png" alt="Smiley face" text="圖1">
<P>
    根據極小極大化分析法，先計算第3層子結點h(n)值，然後第2層子結點的估計值取他的各後繼子結點的極小值，根結點的估計值取他的各子結點的極大值。這個取得最大估計值的子結點即為從S出發的計算機方的最佳落子方案。棋盤上某一行、某一列或某一對角線為一路，這裡使用的棋盤為19行19列，因此，行和列方向上共有19+19=38路；從左下到右上方向的對角線有37路，同樣，從左上到右下方向的對角線也有37路。但對於五子棋來說必須在一條直線上有連續五個棋子才能贏。因此，在對角線上就可以減少8路。所以，整個棋盤路的總數為：38+(37-8)+(37-8)=96路。
<P>
    對某一棋局n[14-15]，第i路得分：h(i)=ht(i)-hm(i)[1]。其中：ht(i)為計算機方在第i路估計值得分，hm(i)為玩家一方在第i路得分。對的得分規則作如下說明。規則中+代表一空點；O代表對方棋子；*代表有計算機方棋子；++表示連續2點為空點；+++*++表示連續3個空點接一個計算機方棋子，再接兩空點。為了使電腦可以對棋局進行判斷，那就需要告訴電腦什麼時候的局勢好過什麼時候的局勢，我們可以通過給不同局勢時不同分值的辦法來讓電腦明白。我給出的局勢評估如下：
<P><PRE>
    +++*++：ht(i)=10;
    ++**++：ht(i)=100;
    +***++：ht(i)=1000;
    O****+：ht(i)=10000;
    +****+：ht(i)=50000;
</PRE>
    *****的時候落子方都已經是勝利了：ht(i)=100000（之所以給分200是為了以後其他棋局的時候好判斷）。之所以要給出如此大的分值差距，主要是考慮以後的全局判斷的時候不會因為分數的累加使得電腦判斷錯誤。而電腦在判斷雙方的分值的時候，就是在落子時對自己的落子點涉及分值和對方的分值進行對比來進行之後落子的判斷。
<P>
  3.2 α-β剪枝<br />
    我們不用把每個節點都搜索一遍也可獲得和極大極小搜索同樣結果的走步，不搜索分支節點而捨棄該分支的過程叫剪枝。常用的剪枝方法是α-β剪枝算法。
<P>
    在極大極小搜索的過程中，存在著一定程度的數據冗餘。如下圖2所示左半部的一棵極大極小樹的片斷，節點下面為該節點的值，設A為極大值節點，節點B的值為18，節點D的值為16，由此可以判斷節點C的值將小於等於16(取極小值)；而節點A的值為節點Max(B，C)，是18，也就是說不再需要估節點C的其他子節點如E、F的值就可以得出父節點A的值了。這樣將節點D的後繼兄弟節點減去稱為Alpha剪枝(α剪枝)。如圖2
<P>
   <img src="5chess-02.png" alt="Smiley face" text="圖2">
<P>
    同樣道理在圖3右半部一棵極大極小樹的片段中，設A為極小值節點，節點B的估值為8，節點D的估值為l8，由此可以判斷節點C的值將大於等於18(取極大值)；而節點A的值為Min(B，c)，是8。也就是說不再需要求節點C的其他子節點如E、F值就可以得出父節點A的值了。這樣將節點D的後繼兄弟節點剪去稱為Beta剪枝(β剪枝)。如圖3
<P>
   <img src="5chess-03.png" alt="Smiley face" text="圖3">
<P>
    將Alpha剪枝和Beta剪枝加入極大極小搜索，就得到α-β搜索算法。
<P>
    經過了上面的介紹，我們再回到五子棋問題上來。
<P>
    上邊講到了極大極小搜索，以及搜索時產生子結點的順序。五子棋的靜態估值函數有多種方法得到，具體如何實現除了要有一定的五子棋知識外，還要能運用這些知識正確地給出對一個五子棋當前局面的估值。可以進行全局搜索，對棋盤的每一個點判斷棋形計算得分，最後綜合得到全局得分，優先選擇分值最高的走步。若對五子棋比較熟悉，可以在程序中規定幾個下棋定式，根據定式判斷當前局勢得分。
<P>
    根據極大極小搜索中給出的判斷棋形所設的得分值，搜索整個棋盤得出共有多少個活一，死一，活二，……最後把各部分得分求和，得到當前局勢的評價值。這個靜態估值函數的好壞直接決定了程序智能的高低。可以在實踐中不斷調整得分值，使其智能更高。
<P>
    而對於搜索時產生子結點的順序，這關係到程序運行的快慢，倘若在α-β剪枝過程中，很早就得到一個較大的值，則在其後的搜索過程中，剪枝數目增加，程序效率也會提高。產生子結點的順序，光靠說不行，還需要在實際中慢慢體會，得出一個較優方案。在這裡我暫且假設它從(0，0)點開始到(14，14)為止產生結點，對於每一次預測走步，我們假設白棋從(0，0)開始的第一個無子的點開始預測(假設電腦為白棋)，再輪到黑棋走，再輪到白棋走，一直向後預測n步後用靜態估值函數對整個局面打分，再選擇另一個位置，再為局面打分，重複此過程對深度為n的搜索樹進行α-β剪枝搜索。
<P>
    現在假設五子棋問題深度為3的搜索樹給出α-β剪枝算法，用類C語言對其進行描述：
    設電腦為Max，人為Min，初始時α為-∞，β為+∞；函數Evalue()返回對當前局面的估值
<P>
    int Max(point p, α, β) { .....
<P><PRE>
      // 在p處下白子；
      if(已到達搜索的最後一層)
        return Evalue();
      for(int i=0；i<l5；i++) {
        for(int j=0；j<15；j++) {
          point pt=(i,j);
          α=max(α,Min(pt,α,β));
          if(α>β) return β;
        }
      }
      return α;
    }</PRE>
<P>
    MIN結點的β剪枝函數：
<P><PRE>
    int Min(pointp,α,β) {
      // 在p處下黑子；
      if (已到達搜索的最後一層) return Evalue();
      for(int i=0; i<15; i++)  
        for(int j=0; j<15; j++) {
          point pt=(i,j);
          β=min(β,Max(pt,α,β));
          if(β<=α) return α;
        }
      }
      return β;
    }</PRE>
<P>
    如果Max(pointp,α,β)函數，則返回對Max結點最有利的走步的局勢靜態估值函數值。反之Min(pointp,α,β)函數，則返回對Min結點最有利的局勢靜態估值函數值。兩種互為遞歸調用，可以動態改變搜索深度。
<P>
  3.3 優化估值函數<br />
    通過以上的研究可以看出，在博弈的程序中電腦的行為都是以估值函數為依據的，所以說估值函數在很大的程度上是決定了電腦的棋力高低。我們可以採用遺傳算法來改進靜態估值。遺傳算法的估計值在很大的程度上也依賴於實施者的經驗。但是可以利用一些高水平名局棋譜或同其他博弈程序對弈，看使用某一組參數時取勝的機率有多大來進行較驗。經過幾次的試驗一般就可以得到較好的靜態估值。
<P>
    傳統的算法一般只能維護一組較好的參數。遺傳算法同傳統的算法相比可以同時維護幾組較好的參數，通過向其中添加一組新參數，通常是將幾組老參數中選出的值組合在一起做一點變化。然後同幾組老的參數比較孰優孰劣，將最差的一組從中去除。這裡面較重要的操作是交叉和變異操作。交叉通過隨機交換父代個體的信息來繼承已有參數中的優良內容；變異通過隨機改變個體中的基因而增加種群的多樣性，避免優化的因局部震盪而失敗。
<P>
    遺傳算法的優點：
<P><OL><LI> 由於搜索算法是從問題的解開始的，而不是一組參數。所以被局部震盪干擾導致求最優解失敗的可能性大大減小。
<LI>此算法能將搜索重點集中於性能高的部分，能較快地求出最佳的參數。
</OL>
<P>
    遺傳算法的優化估值參數的過程：首先是①隨機產生幾組參數作為初始種群；接著②對種群的參數進行收斂判斷，收斂則③輸出優化結果並且評估過程結束，否則就④執行複制操作產生一組新參數；然後⑤取0、1之間的隨機數，讓隨機數和交叉概率進行比較；若大於⑥則執行交叉操作改變新參數，若小於就不用執行這一步；⑦接著取0、1之間的隨機數，隨機數和變異概率進行比較，若⑧大於就執行變異操作改變新參數，小於就不執行這一步；接著是⑨把較差的一組參數從種群中去除；接著跳回第二步判斷是否已經收斂，如此循環就能將搜索重點集中於性能高的部分，能較快地求出最佳的參數。
<P>
   <img src="5chess-04.png" alt="Smiley face" text="圖4">
<P>
  3.4禁手特徵計算<br />
    五子棋中還有項規則就是是禁手的判斷，在上邊已經給出了3顆棋子的時候的分值為1000。如果是雙三則需要乘以2，即2000。電腦在分值表中將會判斷雙三點比一個三的點更為重要。這在電腦進行全局判斷的時候也是正確的，可是如果電腦執黑子，這一點是不能落子的，否則將導致失敗。但是電腦不能真的會自己去判斷，只有認為的給他一個判斷的標準，處理的方法是：在累加分值的時候增加一個判斷語句，如果正好形成雙三，那麼這一點不加入分值表同時判斷此點落棋將判為負，其他禁手按同樣的方法處理。
