body{
	margin:0px; padding:0px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#statistics{
	position:absolute;
	top:30px;
	padding:0px; margin:0px;
}
#statistics span{
	text-align:left;
}

#picArea{
	position:absolute;
	top:50px;background:#000000;	/* 黑色背景 */
	padding:0px; margin:0px;
}

#mypic{
	position:absolute;
	padding:0px; margin:0px;
	left:0px; top:0px;
}
/* 兩幅相同的圖片，在同一個位置
   上面的圖片用來顯示選中部分，不變顏色
   下面那幅則通過透明，變黑
*/
#mypic1{
	position:absolute;
	/*clip:rect(50px,300px,400px,100px);*/
	z-index:2;
}
#mypic2{
	position:absolute;
	z-index:1;
	filter:alpha(opacity=50);	/* 位於下方的圖片，設置透明度 */
	-moz-opacity:0.5;
	opacity:0.5;
}

#selectArea{
	border:1px dashed #FFFFFF;
	position:absolute;
	z-index:5;
	display:none;	/* 初始化時隱藏選區 */
	margin:0px; padding:0px;
	cursor:move;
}
#selectArea span{
	padding:0px; margin:0px;
	position:absolute;
	background-color:#333333;
}
#selectArea span img{
	padding:0px; margin:0px;
	position:absolute;
}
#squareIE{
	/*這個就是給IE用的，製造一個看不見的區域來讓IE選擇*/
	background-color:#000000;
	position:absolute;
	left:4px; top:4px;
	filter:alpha(opacity=0); /* 透明度設置為0 */
	-moz-opacity:0;
}