body{
	margin:0.8em;
	padding:0px;
}
div.thumb{
	float:left;						/* 向左浮動 */
	height:160px; width:160px;		/* 每幅圖片塊的大小 */
	margin:6px;
	padding:0px;
}
div.thumb img{
	border:1px solid #82c3ff;
}
div.ls{
	background:url(framels.jpg) no-repeat center;	/* 水平圖片的背景 */
}
div.pt{
	background:url(framept.jpg) no-repeat center;	/* 豎直圖片的背景 */
}
div.ls img{											/* 水平圖片 */
	margin:0px;
	height:90px; width:135px;
}
div.pt img{											/* 豎直圖片 */
	margin:0px;
	height:135px; width:90px;
}
div.ls a{
	display:block;					/* 定義為塊元素 */
	padding:34px 14px 36px 11px;	/* 將超鏈接區域擴大到整個背景塊 */
}
div.pt a{
	display:block;
	padding:11px 36px 14px 34px;	/* 將超鏈接區域擴大到整個背景塊 */
}
div.ls a:hover{						/* 鼠標經過時修改背景圖片 */
	background:url(framels_hover.jpg) no-repeat center;
}
div.pt a:hover{
	background:url(framept_hover.jpg) no-repeat center;
}

#showPhoto{
	position:absolute;
	width:620px; height:570px;
	z-index:200;
}
#showPhoto img#close{
	position:absolute;
	right:10px; top:10px;
	cursor:pointer;
	z-index:2;
}
#showPic{
	width:454px; height:454px;	/* 正方形的塊 */
	position:absolute;
	left:81px; top:40px;
	text-align:center;
	vertical-align:middle;
}
#bgblack{
	width:620px; height:570px;
	position:absolute;
	left:0px; top:0px;
	background:#000000;
	z-index:-1;
}
#showPic img{
	padding:1px; border:1px solid #FFFFFF;
	z-index:1; position:relative;
}
#navigator{
	position:absolute;
	z-index:3; color:#FFFFFF;
	cursor:pointer;
	bottom:40px; left:225px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
#navigator span{
	padding:20px;
}