<h1>Add New Location</h1>
<hr />
 <% @map.zoom = 14 %>
 
<%= @map.to_html(true) %>
<div id="gmaps" style="width: 600px; height: 400px;"></div>
<hr />
<h2>Add New Place</h2>
<% form_for :location, :url => { :action => :create } do |f| %>
  <p>Address:
  <%= f.text_field :address %></p>
  <p>Description:
  <%= f.text_field :description %></p>
  <p><%= submit_tag "Add Location" %></p>
<% end %>
