<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript"> 
	google.load("visualization", "1", {packages:["piechart"]});
	
	function drawChart() { 
		// Called once the Visualization API is loaded 
	} 
	
	google.setOnLoadCallback(drawChart); // Set callback to run when API is loaded 
	
</script>