<html>
    <head>
        <title>我的Blog</title>
    </head>
    <body>
        <h1>我的Blog</h1>
        <p><a href="/login">登入</a> <a href="/add_entry">新增</a></p>
        {% for entry in entries %}
        <h2>標題: {{ entry.title }}</h2>
        <p>
            作者: {{ entry.author.nickname }}<br/>
            時間: {{ entry.create_time }}<br/>
            內容: {{ entry.content }}
        </p>
        {% endfor %}
    </body>
</html>
